div {
    font-family: sans-serif;
    font-size: 24px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 280px;
}

input {
    font-size: 16px;
    border: solid;
    border-color: #4CAF50;
    border-radius: 4px;
    background-image: url("/res/loupe.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
}

input[type="text"] {
    width: 240px; /* Sets a fixed width of pixels */
    height: 40px;
    margin: 4px 2px;
  }
